$shadow-xs-light: 0px 1px 2px 0px #0000000d;
$shadow-sm-light: 0px 1px 3px 0px #00000014;
$shadow-m-light: 0px 1.5px 4px -1px #0000001f;
$shadow-lg-light: 0px 4px 6px -2px #0000001a, 0px 10px 15px -3px #0000000d;
$shadow-xl-light: 0px 10px 10px -5px #0000001a, 0px 20px 25px -5px #0000000a;
$shadow-2xl-light: 0px 25px 50px -12px #00000040;
$shadow-flat-light: 0px 1px 0px #e4e4e7;
$shadow-in-light: inset 0px 2px 4px #525252;

$shadow-xs-dark: 0px 0.5px 0px #525252;
$shadow-sm-dark: 0px 1px 1px #1212124d;
$shadow-m-dark: 0px 2.5px 4px #121212a6;
$shadow-lg-dark: 0px 3px 5px #121212cc;
$shadow-xl-dark: 0px 2.5px 8px #121212;
$shadow-2xl-dark: 0px 4px 12px #121212;
$shadow-flat-dark: 0px 1px 0px #434343;
$shadow-in-dark: inset 0px 1px 2px rgba(255, 255, 255, 0.24);
